body {
    background-color:#f3f6f8;
    overflow-x: hidden;
}

@media (max-width: 1200px) {
    body {
        font-size: 3vw;
    }

    #matchs-table {
        width: 90vw;
    }

    #matchs-table .column-0 {
        white-space: normal !important;
    }

    #classification-table {
        width: 90vw;
    }
}

@media (min-width: 1200px) {
    #matchs-table {
        width: 35vw;
    }

    #matchs-table .dash-spreadsheet-container {
        max-height: 100vh;
        height: 78vh;
    }

    #classification-table {
        width: 60vw;
    }

    /* #classification-table .dash-spreadsheet-container {
        max-height: 100vh;
        height: 78vh;
    } */
}

td img {
    width: 4vw;
    max-width: 25px;
}

.cell-markdown {
    text-align: center !important;
}

.cell-markdown p {
    margin-bottom: 0;
}

.dash-spreadsheet-inner {
    overflow-x: scroll;
}